<%= render "users/header" %>

<div class="container">
	<div class="row">
		<div class="col-md-7 col-md-offset-2">

			<h2>当サイトについて</h2>

			<p>
				「若者だって車は好きだし発信したい」
				<br><br>
				”若者の車離れ”と耳にすることが増えてきておりますが、<br>
				決して若者が車への興味が無くなったわけではありません。<br>
				車好きの若者はSNSで検索するとたくさん車について語っておりますし、<br>
				車を買うために一生懸命働いたり貯金したりしています。<br>
				車は欲しい。だけど、経済的に余裕がない」人はいっぱいいます。<br>
				そこで、車は買えないけど好きな車を紹介してユーザー同士「好きをシェア」するコミュニティサイトを作り、<br>
				語り合いの場を与えられたらなと思い、サイトを立ち上げました。
			</p>

		</div>
	</div>
</div>